body {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

img {
    margin: auto;
    width: 500px;
    justify-self: center;
}